<div class="container-fluid">
  <img src="/assets/icon/qupas.png">
  <p>
    Qupas is an Information Technology Startup that produces products in the
    form
    of review applications and News based on Mobile Android & iOS. Qupas was
    established in Sidoarjo, Indonesia in 2018. Qupas is currently used in major
    cities in Indonesia such as Surabaya, Bali, and will continue to grow in
    other
    cities in Indonesia.
  </p>
  <p>
    As a solution to current problems, Qupas presents a review feature to share
    your experience using public services and products around you.
  </p>
  <p>
    In addition to the review feature, Qupas also presents a renewal feature of
    Local Business information or Merchants that allows Merchants to be more
    informative to users. Besides, the filter features on Qupas offer advantages
    to Merchants to spread the latest promos and activities held by registered
    Merchants.
  </p>
  <p>The following are the full features contained in Qupas that you can use :</p>
  <h4>
    Complete Review
  </h4>
  <p>
    This feature allows Qupas users to provide reviews from merchants that have
    been visited, these reviews can be text or photos. The review feature
    combines the concept of Social Network Service (SNS) so that users can
    interact with other Qupas users such as giving comments, liking reviews and
    sharing reviews to the Timeline. On the other hand, registered Merchants can
    update the information on their Merchants and respond to reviews from users.
  </p>
  <h4>Qupas Daily</h4>
  <p>Qupas presents information features in the form of articles, videos and
    photos that can be accessed by Qupas users as a complement to the review
    feature. At Qupas Daily, users can respond in the form of comments and
    likes. On the other hand, Merchants can take advantage of the Qupas Daily
    feature as a media campaign that is more complete and targets more users.
  </p>
  <h4>Deals & Promotion</h4>
  <p>This feature allows Merchants to join Qupas to provide their best
    information and offers in the form of Deal & Promotion. The Deal & Promotion
    can be determined and arranged by each Merchant, so that Merchants can make
    their own strategies in Marketing and Sales. On the other hand, users can
    easily find this feature in the Qupas application.</p>
</div>
