.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content {
  padding: 10px 10px;
}
.form-inline {
  padding: 20px;
  .form-group {
    margin-right: 10px;
    label {
      margin-right: 10px;
    }
  }
}
