<div class="container-fluid">
  <!-- <p>
    movie works!
  </p>
  <button class="btn btn-primary" (click)="fetchMovie()">Fetch movie</button> -->
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg2MzI1MTg3OF5BMl5BanBnXkFtZTgwNTU3NDA2MTI@._V1_SX300.jpg"
          alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
  </div>
</div>
